@font-face {
    font-family: 'Allura';
    src: url('fonts/Allura-Regular.woff2') format('woff2'),
        url('fonts/Allura-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.woff2') format('woff2'),
        url('fonts/Pacifico.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.outer {
    display: flex;
}


.logo-background {
    background-color:  rgba(17, 16, 16, 0.5);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset-block-start: 100px;
    color: white;
    width: 400px;
    height: 150px;
}

.logo-contents {
    display: flex;
    margin: auto;
}

.logo-font {
    font-family: 'Pacifico';
    font-size: 40px;
    margin: 0px;
}

.logo-contents > img {
    transform: rotate(90deg);
}

.logo-contents + div {
    font-size: 10px;
}

a {
    color: white;
}

.left-side {
    display: flex;
    text-align: center;
    justify-content: center;
}

.image-cred {
    position: absolute;
    inset-block-start: 580px;
    color: white;
    text-align: center;
    font-size: 10px;
}